
.root {
    --breakpoint-sm: 768px; /* Para tablet */
    --breakpoint-xs: 480px; /* Para móvil */
}

.hero {
    position: relative;
    background-image: url(https://curmgtrnrpyjsizyhdzy.supabase.co/storage/v1/object/public/landing-bucket/About.png.avif);
    background-size: cover;
    background-position: center;
}

.container {
    height: rem(800px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: calc(var(--mantine-spacing-xl) * 6);
    z-index: 1;
    position: relative;

    @media (max-width: $mantine-breakpoint-sm) {
        height: rem(500px);
        padding-bottom: calc(var(--mantine-spacing-xl) * 3);
    }
}

.missionTitle {
    color: #123456; /* Elige un color apropiado */
    margin-top: 20px;
    font-size: 24px; /* Ajusta según sea necesario */
}

.missionText, .valuesText {
    color: #565656; /* Elige un color apropiado */
    margin-top: 15px;
    font-size: 18px; /* Ajusta según sea necesario */
}

.valuesTitle {
    color: #123456; /* Elige un color apropiado */
    margin-top: 20px;
    font-size: 22px; /* Ajusta según sea necesario */
}

.valueItem {
    margin-top: 10px;
}

.title {
    color: var(--mantine-color-white);
    font-size: rem(60px);
    font-weight: 900;
    line-height: 1.1;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(40px);
        line-height: 1.2;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
        line-height: 1.3;
    }
}

.title2 {
    color: var(--mantine-color-black);
    font-size: rem(60px);
    font-weight: 900;
    line-height: 1.1;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(40px);
        line-height: 1.2;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
        line-height: 1.3;
    }
}

.description {
    color: var(--mantine-color-white);
    max-width: rem(600px);

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
        font-size: var(--mantine-font-size-sm);
    }
}

.control {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);

    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }
}

.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.title {
    font-family: Greycliff CF,
    var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(28px);
        text-align: left;
    }
}

.description {
    text-align: center;

    @media (max-width: $mantine-breakpoint-sm) {
        text-align: left;
    }
}


/* Variables para breakpoints */
.root {
    --breakpoint-md: 768px; /* Tablets y dispositivos medianos */
    --breakpoint-sm: 480px; /* Teléfonos móviles y dispositivos pequeños */
}

/* Sección de valores corporativos */
.coreValuesSection {
    padding: 40px 20px; /* Agrega un padding horizontal para evitar que se peguen a los bordes */
}

/* Título de la sección */
.sectionTitle {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

/* Grid de valores corporativos */
.coreValuesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Crea columnas que se ajustan al contenido */
    gap: 20px; /* Espaciado entre tarjetas */
}

/* Tarjetas de valores */
.coreValue {
    background-color: var(--mantine-color-blue-6);
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* Título de la tarjeta */
.coreValueTitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

/* Descripción de la tarjeta */
.coreValueDescription {
    font-size: 1rem;
    color: white;
}

/* Media query para dispositivos medianos (tablets) */
@media (max-width: var(--breakpoint-md)) {
    .coreValuesSection {
        padding: 40px 15px; /* Ajusta el padding para dispositivos medianos */
    }
}

/* Media query para dispositivos móviles */
@media (max-width: var(--breakpoint-sm)) {
    .coreValuesSection {
        padding: 20px; /* Ajusta el padding para dispositivos móviles */
    }

    .coreValue {
        margin: 10px; /* Añade margen alrededor de las tarjetas para evitar que se peguen a los bordes */
    }
}
