.wrapper {
  min-height: 650px; 
  background-image: linear-gradient(-60deg, #659fece3, #278fcb); /* Usar el color azul de la aplicación */
  border-radius: 10px;
  padding: var(--mantine-spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

@media (min-width: $mantine-breakpoint-md) {
  .wrapper {
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 2rem; /* Aumentar el padding horizontal */
  }

  .form {
    margin: 0;
  }
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  color: var(--mantine-color-white);
  line-height: 1;
  font-size: 2.5rem; /* Aumentar el tamaño de fuente */
}

.description {
  color: var(--mantine-color-white);
  max-width: rem(300px);
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.social {
  color: var(--mantine-color-white);
  @mixin hover {
    color: var(--mantine-color-blue-1);
  }
}

.input {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);
  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}

.control {
  background-color: #4381d1e3;
}