.fil5 {
    fill: #0086b4
}

.fil11 {
    fill: #00b1df
}

.fil4 {
    fill: #03b1df
}

.fil1 {
    fill: #0e3b4a
}

.fil12 {
    fill: #0f3a4c
}

.fil2 {
    fill: #134d62
}

.fil10 {
    fill: #46eaff
}

.fil7 {
    fill: #49eafe
}

.fil20 {
    fill: #637d8e
}

.fil3 {
    fill: #79c45d
}

.fil8 {
    fill: #7ac45d
}

.fil13 {
    fill: #7ac55e
}

.fil0 {
    fill: #fdfefd
}