/* ClientsComments.module.css */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0; /* Espaciado vertical, ajusta según sea necesario */
  background-color: #0c1f47;
  color: white;
  /* No establezcas una altura fija aquí */
}

.title {
  color: white; /* Color dorado para el título y las estrellas */
  text-align: center;
  margin-bottom: 20px; /* Espaciado debajo del título */
}

.commentsCarousel {
  margin: 0 auto;
  max-width: 800px; /* Ancho máximo del carrusel */
  padding: 0 15px; /* Espaciado lateral para el contenedor */
}

.comment {
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Elementos apilados verticalmente */
  
  background-color: #ffffff; /* Color de fondo para los comentarios */
  color: rgb(0, 0, 0); /* Color del texto para los comentarios */
  border-radius: 8px; /* Bor
  des redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para los comentarios */
  margin: 20px auto; /* Espaciado alrededor de los comentarios */
  padding: 40px; /* Espaciado interno para los comentarios */
  max-width: 100%; /* Ancho máximo del comentario */
  text-align: left; /* Alineación del texto */

}


/* Clases adicionales para estilos específicos como las estrellas, las citas, etc. */
.stars {
  color: #ffd700; /* Color de las estrellas */
  margin-bottom: 20px; /* Espaciado debajo de las estrellas */
  margin-top: 0; /* Reducir el margen superior */
  margin-bottom: 10px; /* Reducir el margen inferior */
  align-items: center;
}

.quote {
  font-style: italic; /* Estilo de fuente para la cita */
}

.author {
  font-weight: bold; /* Negrita para el autor */
  text-align: right; /* Alineación a la derecha para el autor */
}

/* Asegúrate de añadir las clases adicionales en tu componente JSX */
.stars {
  margin-top: 10px; /* Añade un margen superior si es necesario */
  color: #ffd700; /* Color dorado para las estrellas */
  align-self: center; /* Centrar las estrellas */
  margin-bottom: 10px; /* Espaciado debajo de las estrellas */
}


@media screen and (max-width: 576px) {
  .container {
    padding: 10px 0; /* Más reducido para dispositivos móviles */
  }

  .comment {
    margin: 10px auto; /* Ajusta según sea necesario */
    padding: 20px; /* Ajusta según sea necesario */
    flex-direction: column; /* Elementos apilados verticalmente */
    justify-content: space-between; /* Espaciado entre elementos */
  }

  .comment > Text {
    font-size: 0.875rem; /* Tamaño de fuente reducido para el texto */
  }

  .Avatar {
    width: 30px; /* Tamaño del avatar reducido */
    height: 30px; /* Tamaño del avatar reducido */
  }

  .stars {
    font-size: 0.875rem; /* Tamaño de fuente reducido para las estrellas */
    text-align: center; /* Centrar las estrellas */
  }

  /* Estilos para el carrusel */
  .Carousel {
    min-height: 200px; /* Altura mínima ajustada para el carrusel */
  }
}