.title {
    font-size: rem(34px);
    font-weight: 900;
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(24px);
    }
  }
  
  .description {
    max-width: rem(1200px);
    margin: auto;
  
    &::after {
      content: '';
      display: block;
      background-color: var(--mantine-color-blue-filled);
      width: rem(450px);
      height: rem(2px);
      margin-top: var(--mantine-spacing-sm);
      margin-left: auto;
      margin-right: auto;
    }
  }
  .card {
    border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    display: flex; /* Agregar display flex */
    flex-direction: column; /* Para que los elementos internos se apilen verticalmente */
    align-items: center; /* Centra verticalmente los elementos internos */
    justify-content: center; /* Centra horizontalmente los elementos internos */
    text-align: center; /* Centra el texto horizontalmente */
  }

  
  .cardTitle {
    &::after {
      content: '';
      display: block;
      background-color: var(--mantine-color-blue-filled);
      width: rem(45px);
      height: rem(1px);
   
    }
  }