/* Page.module.css */

.pageContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

.title {
  text-align: center;
  color: #005A8D;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.section {
  margin-top: 30px;
}

.contentContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  flex: 1;
  max-width: 50%;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}

.textContent {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para la nueva sección */
.section1 {
  margin-top: 30px;
}

.contentContainer1 {
  display: flex;
  align-items: center;
}

/* Sobrescribe las propiedades específicas para colocar el texto a la izquierda y la imagen a la derecha */
.textContentLeft {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageContainerLeft {
  flex: 1;
  max-width: 50%;
}

.imageContainerLeft img {
  max-width: 100%;
  height: auto;
}

/* Estilos para títulos de sección */
.h2 {
  color: #007bff;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Estilos para párrafos de sección */
.p {
  color: #555;
  margin-bottom: 20px;
}

/* Estilos para listas de sección */
.ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.li {
  margin-bottom: 5px;
}
/* Agrega estos estilos a tu archivo page.module.css */
.customGrid {
  display: flex;
  align-items: justify;
}

.customGridCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
}

.subGrid {
  width: 100%; /* Haz que el subgrid ocupe todo el ancho disponible */
  padding: 20px; /* Añade espacio alrededor del subgrid */
  border: 1px solid #ddd; /* Añade un borde para mayor claridad */
  border-radius: 8px; /* Agrega bordes redondeados */
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Agrega estos estilos a tu archivo page.module.css */
.fullWidthText {
  flex: 1; /* Hace que el texto ocupe todo el espacio vertical disponible */
  margin-top: 10px;
  color: #555;
  overflow: hidden; /* Oculta el texto que desborda el contenedor */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto desborda */
  white-space: nowrap; /* Evita el ajuste de línea automático */
  text-align: justify; /* Justifica el texto */
}


.titleContac {
  color: var(--mantine-color-white);
  font-size: rem(30px);
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: rem(30px);
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(24px);
  }
}

.subtitle {
  color: var(--mantine-color-white);
  font-size: rem(15px);
  font-weight: 700;
  line-height: 1.1;


  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(18px);
  }
}

.text {
  color: var(--mantine-color-white);
  font-size: rem(15px);
  font-weight: 700;
  line-height: 1.0;
  margin-bottom: rem(10px);
  margin-top: calc(var(--mantine-spacing-xl) * 1.0);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(16px);
  }
}

.title {
  color: var(--mantine-color-white);
  font-size: rem(60px);
  font-weight: 900;
  line-height: 1.1;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(40px);
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    line-height: 1.3;
  }

}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
}

.overlayContac {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.65) 80%);
  opacity: 0.3; /* Ajusta la opacidad según sea necesario */
  z-index: 0;
}

 
.description {
  color: var(--mantine-color-white);
  max-width: rem(600px);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: var(--mantine-font-size-sm);
  }
}


.container {
  height: rem(400px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: calc(var(--mantine-spacing-xl) * 7); /* Aumentar el valor aquí según sea necesario */
  z-index: 1;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(500px);
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  }
}